{% load static %}
<!DOCTYPE html>

<head>
  <title>Moodle</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <div class="page-header">
    {% if user.is_authenticated %}
    <p>Logged in.</p>
    {% else %}
    <p>Not logged in.</p>
    {% endif %}
    <h1>Moodle</h1>
  </div>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>