{% extends 'moodle/base.html' %}
{% load user_check_group %}

{% block content %}
<h2>Lesson: {{ lesson.title }}</h2>
<h3>Course: {{ lesson.course.name }}</h3>
<h5>
  By {% for teacher in lesson.course.teachers.all %}{{ teacher.first_name }} {{ teacher.last_name }}, {% endfor %}
</h5>
<h6>
  Published: {{lesson.publication_date|date:"d.m.Y" }}. Last modified: {{ lesson.modification_date|date:"d.m.Y" }}
</h6>

{{ lesson.text|linebreaks }}

{% if user|has_group:'Students' %}
<h3>Ask teachers a question</h3>
<form action="{% url 'moodle:lesson_view' pk=lesson.pk %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>
{% endif %}
{% if messages %}
{% for message in messages %}<p>{{ message }}</p>{% endfor %}
{% endif %}

<h3>Questions</h3>
{% if questions %}
{% for question in questions %}
<div class="question">
  <p><strong>Asking: {{ question.asker.first_name }} {{ question.asker.last_name }}</strong></p>
  <small>{{ question.ask_date }}</small>
  <p>{{ question.text }}</p>

  {% if question.answer_date %}
  <p><strong>Answered: {{ question.answerer.first_name }} {{ question.answerer.last_name }}</strong></p>
  <small>{{ question.answer_date }}</small>
  <p>{{ question.answer_text }}</p>
  {% elif user|has_group:'Teachers' %}
  <a href="{% url 'moodle:question_answer_form' lesson_pk=lesson.pk question_pk=question.pk %}">Answer this question</a>
  {% endif %}
</div>
<hr>
{% endfor %}
{% else %}
<p>No questions yet.</p>
{% endif %}

{% endblock %}